{% extends 'shared/base_dashboard.html' %}
{% block profile_content_title %}
    تغییر رمز عبور
{% endblock %}
{% block profile_content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-group my-2">
            <span class="input-group-addon" id="password"><i class="zmdi zmdi-key"></i></span>
            {{ form.old_password }}
        </div>
        {{ form.old_password.errors }}
        <div class="input-group my-2">
            <span class="input-group-addon" id="password"><i class="zmdi zmdi-key"></i></span>
            {{ form.new_password1 }}
        </div>
        {{ form.new_password1.help_text }}
        {{ form.new_password1.errors }}
        <div class="input-group my-2">
            <span class="input-group-addon" id="password"><i class="zmdi zmdi-key"></i></span>
            {{ form.new_password2 }}
        </div>
        {{ form.new_password2.errors }}
        <button class="btn btn-danger btn-md btn-block btn-radius">ذخیره</button>
    </form>
{% endblock %}