{% extends 'base_layout.html' %}
{% block page_title %}
    بازیابی رمز عبور
{% endblock %}
{% block content %}
    <div class="container mt-20">
        <section class="box-section border account-layer">
            <header class="right-border">
                <h3>ارسال لینک بازیابی رمز عبور</h3>
            </header>
            <div class="form-layer">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                        {{ form.email }}
                    </div>
                    {% if 'email' in form.errors %}
                        {{ form.errors.email }}
                    {% endif %}
                    {{ form.captcha }}
                    {% if 'captcha' in form.errors %}
                        {{ form.errors.captcha }}
                    {% endif %}
                    <br>
                    {% if form.non_field_errors %}
                    <ul class="errorlist">
                        {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <button class="btn btn-danger btn-md btn-block btn-radius">ارسال</button>

                </form>
            </div>
        </section>
    </div>
{% endblock %}