<div class="main-menu">
    <div class="container">
        <div id="demo2">
            <div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0"
                                          class="slicknav_btn slicknav_collapsed" style="outline: none;"><span
                    class="slicknav_menutxt">منوی سایت</span><span class="slicknav_icon"><span
                    class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span
                    class="slicknav_icon-bar"></span></span></a>
                <ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                    <li><a href="" role="menuitem" tabindex="-1"> موبایل </a></li>
                    <li><a href="" role="menuitem" tabindex="-1"> لوازم خانگی </a></li>
                    <li><a href="" role="menuitem" tabindex="-1"> نوشت افزار </a></li>
                    <li><a href="" role="menuitem" tabindex="-1"> لوازم جانبی موبایل </a></li>
                    <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true"
                                                                      tabindex="-1" class="slicknav_item slicknav_row"
                                                                      style="outline: none;">
                        <a href="" tabindex="-1"> صفحات </a>
                        <span class="slicknav_arrow">◀</span></a>
                        <ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
                            <li><a href="index.html" role="menuitem" tabindex="-1"> صفحه اصلی </a></li>
                            <li><a href="cart.html" role="menuitem" tabindex="-1"> سبد خرید </a></li>
                            <li><a href="contact-us.html" role="menuitem" tabindex="-1">تماس با ما</a></li>
                            <li><a href="{% url 'products' %}" role="menuitem" tabindex="-1"> گروه محصول </a></li>
                            <li><a href="single-blog.html" role="menuitem" tabindex="-1">جزییات مقاله</a></li>
                            <li><a href="user-profile.html" role="menuitem" tabindex="-1">حساب کاربری</a></li>
                            <li><a href="login.html" role="menuitem" tabindex="-1"> ورود به سایت </a></li>
                            <li><a href="single-product.html" role="menuitem" tabindex="-1"> جزییات محصول </a></li>
                            <li><a href="register.html" role="menuitem" tabindex="-1"> عضویت در سایت </a></li>
                            <li><a href="compare.html" role="menuitem" tabindex="-1"> مقایسه محصولات </a></li>
                            <li><a href="search-blog.html" role="menuitem" tabindex="-1">جستجوی پیشرفته مقالات</a></li>
                            <li><a href="search-product.html" role="menuitem" tabindex="-1">جستجوی پیشرفته محصولات </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <nav>
            <ul id="menu">
                <li><a href=""> موبایل </a></li>
                <li><a href=""> لوازم خانگی </a></li>
                <li><a href=""> نوشت افزار </a></li>
                <li><a href=""> لوازم جانبی موبایل </a></li>
                <li>
                    <a href=""> صفحات </a>
                    <ul>
                        <li><a href="index.html"> صفحه اصلی </a></li>
                        <li><a href="cart.html"> سبد خرید </a></li>
                        <li><a href="contact-us.html">تماس با ما</a></li>
                        <li><a href="{% url 'products' %}"> گروه محصول </a></li>
                        <li><a href="single-blog.html">جزییات مقاله</a></li>
                        <li><a href="user-profile.html">حساب کاربری</a></li>
                        <li><a href="login.html"> ورود به سایت </a></li>
                        <li><a href="single-product.html"> جزییات محصول </a></li>
                        <li><a href="register.html"> عضویت در سایت </a></li>
                        <li><a href="compare.html"> مقایسه محصولات </a></li>
                        <li><a href="search-blog.html">جستجوی پیشرفته مقالات</a></li>
                        <li><a href="search-product.html">جستجوی پیشرفته محصولات </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>