<section class="news-letter section">
    <div class="container">
        <div class="col-md-12">
            <section class="news-letter-inner">
                <p>عضویت در خبر نامه <strong>Electro</strong></p>
                <form>
                    <input class="input" type="email" placeholder="ایمیل خود را وارد نمایید ">
                    <button class="newsletter-btn"><i class="zmdi zmdi-email"></i> عضویت در خبرنامه</button>
                </form>
                <ul class="newsletter-social">
                    <li><a href="#"><i class="zmdi zmdi-facebook social-icon"></i></a></li>
                    <li><a href="#"><i class="zmdi zmdi-twitter social-icon"></i></a></li>
                    <li><a href="#"><i class="zmdi zmdi-instagram social-icon"></i></a></li>
                    <li><a href="#"><i class="zmdi zmdi-pinterest social-icon"></i></a></li>
                </ul>
            </section>
        </div>
    </div>
</section>