<div class="col-md-3 col-sm-6 box-product">
    <article>
        <img src="{{ product.image.url }}" alt="" class="product-image">
        {% if product.is_discounted %}
        <span class="product-discount-badge">{{ product.discount_percent }} % تخفیف</span>
        {% endif %}
        <h2>
            <a href="{% url 'product_detail' product.id product.slug %}">{{ product.title }}</a>
        </h2>
        <section class="detail">
            <span class="price">
                {% if product.is_available %}
                    {{ product.price }} تومان
                {% else %}
                    <span class="text-danger">ناموجود</span>
                {% endif %}
            </span>
            <span class="basket"><i class="zmdi zmdi-shopping-basket"></i></span>
            <section class="clearfix"></section>
        </section>
    </article>
</div>